@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
.menu{
    padding-left: 20px;
    padding-right: 20px;
    float:top;
    width:97%;
    background-color:rgb(241, 235, 141);
    height: 200px;

}
img{
    border-radius: 15%;
}
.principal{
    float:bottom;
    width:100%;
    background-image: url(https://i.pinimg.com/564x/65/15/0f/65150f3f3b5c681e31ba20db8cc78bb6.jpg);
    background-size:cover;
    height:100%;
}
p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
.main{
    padding-left: 20px;
    padding-right: 20px;
    width:100%;
    background-color:rgb(195, 255, 183);
    height: 100%;
}
